<div class="container mt-5">
  <div class="form-area">
    <form #f='ngForm' (submit)="onSubmit(f)">
      <div class="form-group">
        <label for="fullName">First Name</label>
        <input
          type="text"
          id="fullName"
          placeholder="Full Name"
          class="form-control"
          name="fullName"
          ngModel
          #fullName='ngModel'
          (change)="getValue(fullName)"
          required
          [ngClass]="{ 'is-invalid' : fullName.touched && fullName.invalid }"
          minlength="5"
          maxlength="10">
        <div *ngIf=" fullName.errors?.['required']">
          <div class="alert alert-danger" *ngIf='fullName.touched && fullName.invalid'> Full name is Required ...</div>
        </div>
        <div *ngIf=" fullName.errors?.['minlength']">
          <div class="alert alert-danger" *ngIf='fullName.touched && fullName.invalid'> Full name must be at least 5
            length ...
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          placeholder="Email"
          class="form-control"
          name="email"
          ngModel
          #email='ngModel'
          (change)="getValue(email)"
          pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
          required
          [ngClass]="{ 'is-invalid' : email.touched && email.invalid }"
        >
        <div *ngIf=" email.errors?.['required']">
          <div class="alert alert-danger" *ngIf='email.touched && email.invalid'> Email is Required ...</div>
        </div>
        <div *ngIf=" email.errors?.['pattern']">
          <div class="alert alert-danger" *ngIf='email.touched && email.invalid'> Invalid pattern
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        <textarea
          id="address"
          cols="30"
          rows="10"
          placeholder="Address"
          class="form-control"
          name="address"
          ngModel
          #address='ngModel'
          required
          [ngClass]="{ 'is-invalid' : address.touched && address.invalid }"
        >
        </textarea>
        <div *ngIf=" address.errors?.['required']">
          <div class="alert alert-danger" *ngIf='address.touched && address.invalid'> Email is Required ...</div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="f.invalid" >Submit</button>
    </form>
  </div>
</div>


<app-reactive-form></app-reactive-form>
